body {
	background-color: whitesmoke;
	/* hot pink */
}

@media (min-width: 80.0rem) { 
	
}
.container {
	max-width: 96.0rem;
}	

.mt-3 {
	margin-top: 3rem;
}
.mt-2 {
	margin-top: 2rem;
}
.mt-1 {
	margin-top: 1rem;
}
.fa-2x {
	vertical-align: sub;
}

#keysection {
	background-color: #A0E7E5;
	text-align: center;
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

#logsection {
	background-color: #B4F8C8;
	text-align: center;
	margin-top: 1rem;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
}

.codesection {
	text-align: center;
}

/* == Top bar == */
.logo {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.logo h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 3.4em;
	color: #000000;
	text-shadow: rgb(189, 189, 189) 1px 0 3px;
 }

 .inlogo {
	padding: 4px;
 }

.githublink {
	margin-top: 2rem;
}

/* ===== Milligram buttons ===== */
.button {
	background-color: black;
	border-color: black;
	color:white;
}

.button:focus, .button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
	background-color: transparent;
	border-color: black;
	color: black;
}

.buttonunselected {
	background-color: black;
}

.buttonselected,
.buttonselected:hover,
.buttonselected:focus {
	background-color: transparent;
	border-color: red;
	color: black;
}

/* ===== Keys ===== */
.key {
	opacity: 0.2;
}
.red {
	-webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
	filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}
.green {
	-webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
	filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(50deg) saturate(1000%) contrast(0.8);
}

/* ===== Difficulty ===== */
#difficultysection {
	line-height: .5;
}

/* ===== Font awesome ===== */
.fa-times {
	color: crimson;
}
.fa-heart {
	color: red;
}
.fa-check-circle {
	color: green;
}

